body{
    background-color: rgb(210, 210, 210);
}.main-head{
    font-size: 40px;
    margin-left: 280px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown label {
    margin-right: 5px;
    font-size: 25px
}

.dropdown-btn {
    
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.movie-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
 margin-top: 10px;
height: 40px;
width: 290px;
font-size: 10px;
font-weight: 20px;
}